<div class="container">
  <h2><%= @registered_application.name %></h2>
  <p><%= link_to @registered_application.url %></p>
  <%= link_to 'Edit', edit_registered_application_path(@registered_application), class: 'btn btn-info' %>
  <%= link_to 'Delete', @registered_application, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
  

  
  <div>
    <br>
    <p>This is where graphs and stuff will come in later :)</p>
    <%= link_to 'Back To My Applications', registered_applications_path %>
  </div>
</div>